<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style/TGIF_style.css">
</head>
<header>

    <div class="TGIF_title">
        <div>
            <div>
                <h1>TGIF</h1>
            </div>
            <div>
                <h5>Transparent Government In Fact</h5>
            </div>
        </div>
        <div>
            <img src="images/statue-of-liberty.png">

        </div>
    </div>

</header>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="home.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown">Congress 113th</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="house-data.html">House</a>
                        <a class="dropdown-item" href="senate-data.html">Senate</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown">Attendance</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="house_attendance.html">House</a>
                        <a class="dropdown-item" href="senate_attendance.html">Senate</a>
                    </div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown">Party Loyalty</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="house_party_loyalty.html">House</a>
                        <a class="dropdown-item" href="senate_party_loyalty.html">Senate</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mail">
            <img src="images/email.png">
            <a href="mailto:info@tgif.net"> Email Us </a> </div>
    </nav>
    <!--VUE-->
    <div class="container" id="app">
        <!--Table container-->



        <div class="chamber">
            <h2>Senators</h2>
            <p>First convened in 1789, the composition and powers of the Senate are established in Article One of the U.S. Constitution. Each state is represented by two senators, regardless of population, who serve staggered six-year terms. The Senate has several exclusive powers not granted to the House, including consenting to treaties as a precondition to their ratification and consenting to or confirming appointments of Cabinet secretaries, federal judges, other federal executive officials, military officers, regulatory officials, ambassadors, and other federal uniformed officers, as well as trial of federal officials impeached by the House.</p>
        </div>
        <!--Filters-->
        <div class="filters">
            <div id="party_select">
                <div class="checkbox_position">
                    <input type="checkbox" value="D" v-model="selected_party"><label>Democrats</label>
                    <input type="checkbox" value="R" v-model="selected_party"><label>Republican</label>
                    <input type="checkbox" value="I" v-model="selected_party"><label>Independents</label>
                </div>
            </div>

            <div>
                <label> Filter By State:
                    <select v-model="selected_state">
                        <option value="all" selected>All States Selected</option>
                        <option v-for="member in state_dropdown" v-bind:value="member">{{FullNameStatesD[member]}}</option>
                    </select>
                </label>
            </div>
            <div class="search_box">
                <input type="text" placeholder=" Search members..." v-model="search">
            </div>

        </div>
        <div>
        </div>

        <!--Table-->
        <table class="table">
            <thead class="thead_data">
                <tr>
                    <th v-on:click="sort_value_identifier('last_name')">Name</th>
                    <th v-on:click="sort_value_identifier('party')">Party</th>
                    <th v-on:click="sort_value_identifier('state')">State</th>
                    <th v-on:click="sort_value_identifier('seniority')">Years in Office</th>
                    <th v-on:click="sort_value_identifier('votes_with_party_pct')">% Votes/Party</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="member in update_table">
                    <td> <a :href="member.url" target="_blank">{{member.first_name}} {{member.middle_name}} {{member.last_name}} </a> </td>
                    <td> {{member.party}}</td>
                    <td> {{member.state}}</td>
                    <td> {{member.seniority}}</td>
                    <td> {{member.votes_with_party_pct}}%</td>
                </tr>
            </tbody>


        </table>
        <div v-show="loading" class="loader_position">
            <div class="loader"></div>

        </div>

        <div v-show="selection_error" class="alert">
            <div>
                <h2>No member found</h2>
                <h4>Please change your filters or search</h4>
            </div>
        </div>

    </div>

</body>
<footer>

    <div class="text-center">
        <p>&reg; 2018 TGIF | All Rights Reserved</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="JS/vue.js"></script>

</html>
