/*--------------------------------------------------Fonts------------------------------------------------------------------------*/

@font-face {
    src: url(../fonts/Merriweather-Regular.ttf);
    font-family: merriweather;
}



/*--------------------------------------------------Title------------------------------------------------------------------------*/


.TGIF_title {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 1%;
    font-family: merriweather;
    color: white;
    background-color: #001f3f;
    display: flex;
    flex-direction: row;
}

.TGIF_title h1 {
    color: red;
}




/*--------------------------------------------------Navbar------------------------------------------------------------------------*/

.nav-link {
    font-family: merriweather;
    font-size: 13px;
}




.btn-secondary {
    background-color: #001f3f;
}

.btn-secondary:hover {
    background-color: #001f3f;
     !important;
}

.bg-dark {
    background-color:
        background-color: #001f3f;
     !important;
    ;
    border-color: red;
}

#dropdown03 {
    color: white;
}

.dropdown-item {
    font-family: merriweather;
    font-size: 13px;
}

.mail {
    margin-right: 1%;
}

.mail a {
    color: white;
    font-family: merriweather;
    font-size: 13px;
    text-decoration: none;
}

/*--------------------------------------------------Main Text---------------------------------------------------------------------*/

.main_content {
    font-family: merriweather;
    font-size: 15px;
    padding: 3%;
    text-align: justify;
}

.main_content h2 {
    color: red;
    font-size: 20px;
}

.main_content p {

    font-size: 13px;
}

.main_content span {
    color: red;
}

.main_content span:hover {
    cursor: pointer;
}


.chamber {
    padding: 3%;
    font-family: merriweather;
    font-size: 20px;
    border-bottom-style: dotted;
    border-color: red;
}

.chamber p {
    font-size: 13px;
    text-align: justify;


}

.chamber h2 {
    color: red;
    font-size: 20px;



}

.chamber_stats {
    padding: 2%;
    font-family: merriweather;
    font-size: 20px;
    width: 42%;
}

.chamber_stats p {
    font-size: 13px;
    text-align: justify;
}

.chamber_stats h2 {
    color: red;
    font-size: 20px;


}

/*--------------------------------------------------Table------------------------------------------------------------------------*/

thead {
    position: sticky;
    top: 0;
    background-color: #001f3f;

}

th {
    color: white;
    font-family: merryweather;
}

.thead_data th {
    cursor: pointer;
}

#alert {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: merriweather;
}

.txt_plus_table {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.tables_10pct {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-around;
}

.tables_10pct h2 {
    font-family: merriweather;
    font-size: 15px;
    text-align: center;
}

.pct_table {
    padding: 2%;
    margin: 2%;
    border-style: dashed;
    border-color: red;
}

.members_counter_table {
    margin: 2%;
    padding: 2%;

}

.members_counter_table h2 {
    font-family: merriweather;
    font-size: 15px;
    text-align: center;
    color: red;
    text-align: center;
    text-transform: capitalize;
}

/*--------------------------------------------------Loader------------------------------------------------------------------------*/
.loader_position {
    display: flex;
    justify-content: center;
}

.loader {
    border: 16px solid #001f3f;
    border-radius: 50%;
    border-top: 16px solid red;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/*--------------------------------------------------Checkboxes + Select + Search-----------------------------------------------------------------*/
.filters {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}

.party_select {

    display: flex;
    flex-direction: row;
}

.search_box {
    margin-bottom: 2%;
}

.search_box input {
    border-color: red;
    font-family: merriweather;
    font-size: 13px;
}



.checkbox_position {
    display: inline-flex;
}

select {
    border-color: red;
}

label {
    font-family: merriweather;
    font-size: 13px;


}

input[type="checkbox"] {
    font-size: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3.5em;
    height: 1.5em;
    background: #ddd;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-right: 1%;
    margin-left: 1%;


}

input[type="checkbox"]:checked {
    background: red;
}

input[type="checkbox"]:after {
    position: absolute;
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
    box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
    -webkit-transform: scale(.7);
    transform: scale(.7);
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input[type="checkbox"]:checked:after {
    left: calc(100% - 1.5em);
}

/*-------------------------------------------Footer------------------------------------------------------------------------*/

footer {
    font-family: merriweather;
    font-size: 10px;
    margin-top: 20px;
}

.alert {
    font-family: meryweather;
    text-align: center;
}
